<!DOCTYPE html>
<html lang="es">
<head>
    {%load static%}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trabajo Futuro</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="{%static 'app/css/css.css'%}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
  <header>
    <div class="menu-p">
        <div><a class="logo" href="{% url 'pagPrincipal'%}">Trabajo Futuro</a></div>
            <nav class="menu">
                <a href="{% url 'pagRegistro'%}">Registrate</a>
              <a href="{% url 'pagEmpleo'%}">Empleo</a>
              <a href="{% url 'pagNosotros'%}">Nosotros</a>
              <a href="{% url 'pagReclamos'%}">Consultas</a>
              <a href="{% url 'pagIniciosesion'%}">Iniciar sesion</a>
              </nav>
            
     </div>
</header>
<body>
    <div id="contenido">

        {% block contenido %}
        {% endblock %}

    </div>    
</body>


</html>