<!DOCTYPE html>
<html lang="en">
    <head>
        <html lang="es">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
        <meta charset="UTF-8">
        <meta name="trabajo" content="Pagina creada para la busqueda de trabajo"/>
        <meta name="palabras clave" content="trabajo, empleo, laburo"/>
        <meta name="autor" content="Grupo 4" />
        <meta name="copyright" content="FuturoTrabajo" />
        <link rel="stylesheet" href="css/estilos.css">
        <title> Futuro trabajo </title>
    </head>
    <header>
        <div class="menu-p">
            <div><a class="logo" href="pagPrincipal.html">Trabajo Futuro</a></div>
                <nav class="menu">
                    <a href="pagIniciosesion.html">Inicia sesion</a>
                    <a href="pagRegistro.html">Registrate</a>
                    <a href="pagEmpleo.html">Empleo</a>
                    <a href="#">Cuenta Empresa</a>
                    <a href="#">Cuenta Persona</a>
                    <a href="#">Nosotros</a>
                </nav>
         </div>
    </header>
<body>
</body>
</html>