{% extends 'app/base.html' %}

{% block contenido %}

<body>
      <div class="infor">
      <div
      style="color: rgb(0, 0, 0);
      font-size: 35px;">
      <a href="#">Recoline Soporte tecnico y infraestructura</a>
        <p>Se solicita Persona con estudio en Informatica para ejercer la funcion de Soporte tecnico se ofrece un sueldo base de $500.000</p>
      </div>
      <div
      style="color: rgb(0, 0, 0);
      font-size: 35px;">
      <a href="#">Interactive Intelligence</a>
        <p>Se solicita Personal para puesto de Supervisor de area con Experiencia se ofrece un sueldo base de $700.000</p>
      </div>
      <div
      style="color: rgb(0, 0, 0);
      font-size: 35px;">
      <a href="#">E-contact</a>
        <p>Vacante para ingresar al equipo de Unidad de Monitoreo donde se realizan labores tales como monitoreo en Nagios y Mantencion en Citrix con un sueldo base de $550.000</p>
      </div> 
      <div
      style="color: rgb(0, 0, 0);
      font-size: 25px;">
      <h2>Aun no estas registrado?</h2>
      <h2>No desaproveches esta oportunidad!</h2>
      </div>

</body>
{% endblock %}