{% extends 'app/base.html' %}

{% block contenido %}
    <body>
        <div class="retail">
        <div
        style="color: black;
        font-size: 35px;">
        <a href="#">Cencosud</a>
          <p>Se solicita Personal para bodega con experiencia para manejar y almacenar gran cantidad de mercancia </p>
        </div>
        <div
        style="color: red;
        font-size: 35px;">
        <a href="#">Walmart</a>
          <p>Se busca gente para el puesto de encargado de local con experiencia en trabajo en equipo </p>
        </div>
        <div
        style="color: green;
        font-size: 35px;">
        <a href="#">DBS Chile</a>
          <p>Vacante para Supervisora de Tienda en MakeUP Mall Plaza Vespucio sueldo base $450.000</p>
        </div>
        <div
        style="color: black;
        font-size: 50px;">
        </div>
  
        </div>
    </body>
        {% endblock %}