{% extends 'app/base.html' %}

{% block contenido %}

<body>
    <div class="emple">

    
    <H1 class="titulo">Nuevas Ofertas Laborales</H1>
	<div class="section">
        <div><a class="Trabajos" href="empInformaticos.html">Trabajos Informaticos</a></div>
        <div><a class="Trabajos " href="empRetail.html">Trabajos de Retail</a></div>
        <div><a class="Trabajos " href="empAgopecuario.html">Trabajos Agropecuarios</a></div>
        <div><a class="Trabajos " href="empMinero.html">Trabajos de Mineria</a></div>
	</div>
</div>
</body>

{% endblock %}