<!DOCTYPE html>
<html lang="es">
<head>
    {%load static%}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de Sesion</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="{%static 'app/css/css.css'%}">
</head>
  <header>
    <div class="menu-p">
        <div><a class="logo" href="{% url 'pagPrincipal'%}">Trabajo Futuro</a></div>
            <nav class="menu">
                <a href="{% url 'pagIniciosesion'%}">Inicia sesión</a>
                <a href="{% url 'pagRegistro'%}">Registrate</a>
              <a href="#">Personas</a>
              <a href="{% url 'pagEmpleo'%}">Empleo</a>
              <a href="{% url 'pagNosotros'%}">Nosotros</a>
            </nav>
     </div>
</header>
<body>
    <div class="container-general">
            <div class="saludo"><h1>Iniciar sesion</h1></div>
                <form action="" method="POST" id="form">
                    <div class="form">
                        <label class="bienvenida">E-mail</label>
                        <input class="bienvenida" type="text" id="email" name="">
                        <label class="bienvenida">Contraseña</label>
                        <input class="bienvenida" type="password" id="pass">
                        <a class="recuperarContraseña" href="pagNosotros.html">¿Haz olvidado tu contraseña?</a>
                        <button type="submit" class="btn btnInicio">Inicia sesion</button>

                        <p class="warnings" id="warnings"></p>
                    </div>
                </form>
                <script src="js/Scripts.js"></script>
            </div>
    </form>
</div>    
</body>

<footer>
    <div class="navegacion-baja">
        <a href="pagIniciosesion.html">FuturoTrabajo ®2023</a>
        <a href="#">Personas</a>
        <a href="#">Empresas</a>
        <a href="#">Ayuda</a>
        <a href="#">Otros</a>
        <a href="#">Numero de servicio al Cliente: Celular +56987577770. Fono +562225453367</a>
    </div>
</footer>

</html>