<!DOCTYPE html>
<html lang="es">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="{%static 'app/css/css.css'%}">
</head>
<header>
    <div class="menu-p">
      <div><a class="logo" href="{% url 'pagPrincipal'%}">Trabajo Futuro</a></div>
            <nav class="menu">
              <a href="">Inicia sesión</a>
              <a href="{% url 'form_persona'%}">Registrate</a>
              <a href="#">Personas</a>
              <a href="{% url 'pagEmpleo'%}">Empleo</a>
              <a href="{% url 'pagNosotros'%}">Nosotros</a>
            </nav>
    </div>
</header>
<body>
    <div class="lorem">
             <div class="loremTitle"><h3>Visión :</h3></div>
              <div class="loremCont"><p2> Ser la plataforma líder en línea para la búsqueda y encuentro de empleo, 
                conectando a empleadores con talentos en todo el mundo, brindando una experiencia 
                de usuario excepcional y ofreciendo soluciones innovadoras para satisfacer las necesidades cambiantes del mercado laboral.</p2></div>

              <div class="loremTitle"><h3>Misión :</h3></div>
              <div class="loremCont">
                <p2>Nuestra misión es ayudar a las personas a encontrar empleo y a las empresas 
                a encontrar el talento adecuado para sus necesidades de negocio. Nos esforzamos
                 por ofrecer una plataforma de búsqueda de empleo fácil de usar y segura, que permita 
                 a los candidatos buscar y postularse a empleos relevantes en cualquier momento y desde 
                 cualquier lugar. Además, trabajamos en estrecha colaboración con las empresas para comprender
                  sus necesidades de contratación y ofrecer soluciones personalizadas que les ayuden a encontrar 
                  al mejor talento disponible de manera eficiente y efectiva.</p2></div>
      </div>
</body>
</html>