<!DOCTYPE html>
<html lang="es">
<head>
    {%load static%}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trabajo Futuro</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="{%static 'app/css/css.css'%}">
  <link rel="shortcut icon" href="{%static 'app/img/favicon-32x32.png' %}" type="core/img/x-icon">
  <link rel="stylesheet" href="{%static 'app/img'%}">
</head>
  <header>
    <div class="menu-p">
        
        <div><a class="logo" href="{% url 'pagPrincipal'%}">Trabajo Futuro</a></div>
            <nav class="menu">
                <a href="{% url 'pagRegistro'%}">Registrate</a>
              <a href="{% url 'pagEmpleo'%}">Empleo</a>
              <a href="{% url 'pagNosotros'%}">Nosotros</a>
              <a href="{% url 'pagReclamos'%}">Consultas</a>
              <a href="{% url 'pagIniciosesion'%}">Iniciar sesion</a>

              </nav>
     </div>
</header>
        <section class="hero_container container">
            <h1 class="hero_tittle">Encuentra el trabajo de tus sueños</h1>
            <p class="hero_paragraph">Hay 114.924 vacantes esperándote en Chile</p>
            <a href="{% url 'pagRegistro'%}"class="cta">¡Registrate ahora!</a>
         
        </section>
    </header>
    <main>
        <section class="container about">
            <h2 class="subtitle">¿Que tipo de trabajo buscas?</h2>
            <p class="about_paragraph">Las Empresas necesitan de tu talento</p>

            <div class="about_main">
                <article class="about_icons">
                    <img src="{%static 'app/img/arrow.svg' %}" class="about_icon" >
                    <h3 class="about_title">Puestos Directivos</h3>
                    <p class="about_paragraph">Entre las responsabilidades de un gerente general se incluyen formular la estrategia general, gestionar al personal y establecer políticas. Para desempeñar este cargo satisfactoriamente, debes ser un líder atento y tomar decisiones con seguridad, ayudando a desarrollarse a nuestros empleados, además de ser productivo al tiempo que te aseguras de que nuestros beneficios aumentan.</p>
                </article>

                <article class="about_icons">
                    <img src="{%static 'app/img/arrow.svg' %}" class="about_icon" >
                    <h3 class="about_title">Puestos de supervisión, profesionales y técnicos</h3>
                    <p class="about_paragraph">El supervisor debe poseer capacidad para manejar personal, es decir, saber delegar, evaluar, atender problemas y conflictos, así como fomentar un ambiente positivo que inspire el trabajo integral de todos los empleados.</p>
                </article>

                <article class="about_icons">
                    <img src="{%static 'app/img/arrow.svg' %}" class="about_icon" >
                    <h3 class="about_title">Puestos operativos y de apoyo </h3>
                    <p class="about_paragraph">Una compañía sin cargos operativos se podría quedar solo en ideas y estrategias, sin la fuerza de personas para ejecutarlas. Por lo mismo, quienes ejercen estas funciones son indispensables para el crecimiento, desarrollo y sostenibilidad de las organizaciones</p>
                </article>
            </div>
        </section>
        <section class="knowledged">
            <div class="knowledger_container container">
                <div class="knowledged_texts">                    
                    <h2 class="subtitle">Estamos comprometidos con tu búsqueda de trabajo, te ayudaremos a mejorar la efectividad en tus postulaciones y velaremos porque tengas retroalimentación</h2>
                    <p class="knowledger_paragraph">¿Tiene plaza laboral libre? Consulta ejemplo para solicitantes de empleo agiliza la selección de candidatos para otras rondas de proceso de selección.</p>
                    <a href="{% url 'pagReclamos'%}" class="cta">Realizar consulta</a>
                </div>
                <figure class="knowledged_picture">
                    <img src= "{%static 'app/img/antonio-janeski-CHVTt0aGbx0-unsplash.jpg' %}" class="knowledged_img">
                </figure>
            </div>
        </section>
    </main>
    <section class="testimony">
        <div class="testimony_container container">
            <img src="{%static 'app/img/fizquierda.svg' %}"  class="testimony_arrow" id="before">
            <section class="testimony_body testimony_body--show data-id=1 ">
                <div class="testimony_texts">
                    <h2 class="subtitle">Mi Nombre es Axel Diaz, <span class="testimony_course">Trabajador en cargo gerencial</span></h2>
                    <p class="testimony_review">Gracias a futuro trabajo mi busqueda de empleo se facilito y ahora me encuentro trabajando en el puesto que quiero, estoy muy agradecido de la pagina.</p>
                </div>
                <figure class="testimony_picture">
                    <img src="{%static 'app/img/ana-nichita-BI91NrppE38-unsplash.jpg' %}" class="testimony_img">
                </figure>
            </section> 
            
            <section class="testimony_body  data-id=2 ">
                <div class="testimony_texts">
                    <h2 class="subtitle">Mi Nombre es Benjamin Lazo, <span class="testimony_course">Trabajador en cargo operacional</span></h2>
                    <p class="testimony_review">Soy estudiante y busque mi practica en esta pagina y fue increible lo facil y rapido, ahora gracias a ellos tengo trabajo estable</p>
                </div>
                <figure class="testimony_picture">
                    <img src="{%static 'app/img/meysam-jarahkar-LI7jB1925j0-unsplash.jpg' %}"  class="testimony_img">
                </figure>
            </section>

            <section class="testimony_body  data-id=3 ">
                <div class="testimony_texts">
                    <h2 class="subtitle">Mi Nombre es Florencia Gonzalez, <span class="testimony_course">Trabajador en cargo medio</span></h2>
                    <p class="testimony_review">Quede sin empleo luego de ser madre, y busque por esta pagina y realmente me han ayudado mucho, los recomiendo 100% ya que gracias a ellos encontre mi estabilidad.</p>
                </div>
                <figure class="testimony_picture">
                    <img src="{%static 'app/img/microsoft-365-o2hPCfwPPkw-unsplash.jpg' %}" class="testimony_img">
                </figure>
            </section>
            <img src="{%static 'app/img/fderecha.svg' %}" class="testimony_arrow" id="next">

        </div>
    </section>

    <script src="./js/slyder.js"></script>

    
   
</body>

