<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabajo futuro</title>
    <link rel="shortcut icon" href="{%static 'app/img/favicon-32x32.png' %}" type="core/img/x-icon">
    <link rel="stylesheet" href="{%static 'app/css/css.css'%}">
    <link rel="stylesheet" href="{%static 'app/img'%}">
    <link rel="stylesheet" href="./js/">
</head>
<body>
    {%load static%}
    <header class="hero">
        <nav class="nav container">
            <div class="nav_logo">
                <h2 class="nav__tittle">Trabajo Futuro</h2>

            </div>
            <ul class="nav_link nav_link--menu ">
                <li class="nav_items">
                    <a href="" class="nav_links">Inicia sesión</a>
                </li>
                <li class="nave_items">
                    <a href= "{% url 'form_persona'%}">Registrate</a>
                </li>
                <li class="nave_items">
                    <a href="{% url 'pagEmpleo'%}" class="nav_links">Empleo</a>
                </li>
                <li class="nave_items">
                    <a href="{% url 'pagNosotros'%}" class="nav_links">Nosotros</a>
                </li>
                <img src="{%static 'app/img/casa.svg' %}" class="nav_close">
            </ul>
            <div class="nav_menu">
            <img src="{%static 'app/img/menu.svg' %}" class="nav_img" >
            </div>         
        </nav>
        <section class="hero_container container">
            <h1 class="hero_tittle">Encuentra el trabajo de tus sueños</h1>
            <p class="hero_paragraph">Hay 114.924 vacantes esperándote en Chile</p>
            <a href="{% url 'form_persona'%}"class="cta">¡Registrate ahora!</a>
         
        </section>
    </header>
    <main>
        <section class="container about">
            <h2 class="subtitle">¿Que tipo de trabajo buscas?</h2>
            <p class="about_paragraph">Las Empresas necesitan de tu talento</p>

            <div class="about_main">
                <article class="about_icons">
                    <img src="{%static 'app/img/arrow.svg' %}" class="about_icon" >
                    <h3 class="about_title">Puestos Directivos</h3>
                    <p class="about_paragraph">Entre las responsabilidades de un gerente general se incluyen formular la estrategia general, gestionar al personal y establecer políticas. Para desempeñar este cargo satisfactoriamente, debes ser un líder atento y tomar decisiones con seguridad, ayudando a desarrollarse a nuestros empleados, además de ser productivo al tiempo que te aseguras de que nuestros beneficios aumentan.</p>
                </article>

                <article class="about_icons">
                    <img src="{%static 'app/img/arrow.svg' %}" class="about_icon" >
                    <h3 class="about_title">Puestos de supervisión, profesionales y técnicos</h3>
                    <p class="about_paragraph">El supervisor debe poseer capacidad para manejar personal, es decir, saber delegar, evaluar, atender problemas y conflictos, así como fomentar un ambiente positivo que inspire el trabajo integral de todos los empleados.</p>
                </article>

                <article class="about_icons">
                    <img src="{%static 'app/img/arrow.svg' %}" class="about_icon" >
                    <h3 class="about_title">Puestos operativos y de apoyo </h3>
                    <p class="about_paragraph">Una compañía sin cargos operativos se podría quedar solo en ideas y estrategias, sin la fuerza de personas para ejecutarlas. Por lo mismo, quienes ejercen estas funciones son indispensables para el crecimiento, desarrollo y sostenibilidad de las organizaciones</p>
                </article>
            </div>
        </section>
        <section class="knowledged">
            <div class="knowledger_container container">
                <div class="knowledged_texts">                    
                    <h2 class="subtitle">Estamos comprometidos con tu búsqueda de trabajo, te ayudaremos a mejorar la efectividad en tus postulaciones y velaremos porque tengas retroalimentación</h2>
                    <p class="knowledger_paragraph">¿Tiene plaza laboral libre? Encuesta ejemplo para solicitantes de empleo agiliza la selección de candidatos para otras rondas de proceso de selección.</p>
                    <a href="encuesta.html" class="cta">Realizar encuesta</a>
                </div>
                <figure class="knowledged_picture">
                    <img src= "{%static 'app/img/antonio-janeski-CHVTt0aGbx0-unsplash.jpg' %}" class="knowledged_img">
                </figure>
            </div>
        </section>
    </main>
    <section class="testimony">
        <div class="testimony_container container">
            <img src="{%static 'app/img/fizquierda.svg' %}"  class="testimony_arrow" id="before">
            <section class="testimony_body testimony_body--show data-id=1 ">
                <div class="testimony_texts">
                    <h2 class="subtitle">Mi Nombre es Axel Diaz, <span class="testimony_course">Trabajador en cargo gerencial</span></h2>
                    <p class="testimony_review">Gracias a futuro trabajo mi busqueda de empleo se facilito y ahora me encuentro trabajando en el puesto que quiero, estoy muy agradecido de la pagina.</p>
                </div>
                <figure class="testimony_picture">
                    <img src="{%static 'app/img/ana-nichita-BI91NrppE38-unsplash.jpg' %}" class="testimony_img">
                </figure>
            </section> 
            
            <section class="testimony_body  data-id=2 ">
                <div class="testimony_texts">
                    <h2 class="subtitle">Mi Nombre es Benjamin Lazo, <span class="testimony_course">Trabajador en cargo operacional</span></h2>
                    <p class="testimony_review">Soy estudiante y busque mi practica en esta pagina y fue increible lo facil y rapido, ahora gracias a ellos tengo trabajo estable</p>
                </div>
                <figure class="testimony_picture">
                    <img src="{%static 'app/img/meysam-jarahkar-LI7jB1925j0-unsplash.jpg' %}"  class="testimony_img">
                </figure>
            </section>

            <section class="testimony_body  data-id=3 ">
                <div class="testimony_texts">
                    <h2 class="subtitle">Mi Nombre es Florencia Gonzalez, <span class="testimony_course">Trabajador en cargo medio</span></h2>
                    <p class="testimony_review">Quede sin empleo luego de ser madre, y busque por esta pagina y realmente me han ayudado mucho, los recomiendo 100% ya que gracias a ellos encontre mi estabilidad.</p>
                </div>
                <figure class="testimony_picture">
                    <img src="{%static 'app/img/microsoft-365-o2hPCfwPPkw-unsplash.jpg' %}" class="testimony_img">
                </figure>
            </section>
            <img src="{%static 'app/img/fderecha.svg' %}" class="testimony_arrow" id="next">

        </div>
    </section>

    <script src="./js/slyder.js"></script>

    
   
</body>

</html>